@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Josefin Sans', sans-serif;
    color: #363636;
    letter-spacing: 0.02em;
  }
  a {
    @apply transform duration-300 hover:opacity-80 active:scale-75;
  }
  button {
    @apply transform duration-300 active:scale-75;
  }
}

@layer components {
  .h1 {
    @apply text-[32px] font-bold lg:text-5xl;
  }
  .h2 {
    @apply text-[28px] font-bold lg:text-4xl;
  }
  .h3 {
    @apply text-2xl font-bold lg:text-[32px];
  }
  .h4 {
    @apply text-xl font-bold lg:text-[28px];
  }
  .banner-rocket-ball {
    @apply after:absolute after:right-0 after:top-1/2 after:-z-10 after:h-[76px] after:w-20 after:translate-x-[50%] after:translate-y-[-50%] after:rounded-full after:bg-[#BFC9F0];
  }

  .banner-space-ball {
    @apply after:absolute after:right-0 after:top-1/2 after:-z-10 after:h-[76px] after:w-20 after:translate-x-[50%] after:translate-y-[-50%] after:rounded-full after:bg-space_violet_dark after:opacity-50;
  }
  .costTextAccent {
    @apply after:absolute after:bottom-0 after:left-0 after:-z-10 after:h-1/2 after:w-full after:bg-accent;
  }
  .orderNowBtnPosition {
    @apply absolute bottom-0 left-1/2 w-[332px] -translate-x-1/2 translate-y-1/2
  }
}

@layer components {
  .vertical-rl {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}

.swiper-slide-active{
  @apply !w-[300px];
}
.swiper-slide-prev {
  @apply !w-[360px];
}
